body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-color: pink; /* Change background color to pink */
    color: rgb(183, 39, 183); /* Change text color to purple */
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

header {
    background-color: rgb(183, 39, 183); /* Change header background color to purple */
    color: pink; /* Change header text color to pink */
    padding: 20px 0;
}

#welcome-message {
    background-color: rgb(183, 39, 183); /* Change background color of the welcome message to purple */
    color: pink; /* Change text color of the welcome message to pink */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 100px 0;
    text-align: center;
}

button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: pink; /* Change button background color to pink */
    color: purple; /* Change button text color to purple */
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#artistButton {
    
    bottom:0;
    align-items: center;
}

.loginButton {
    margin-top: 30px;
    border: 0;
    line-height: 3;
    padding: 0 35px;
    font-size: 30px;
    text-align: center;
    color: rgb(183, 39, 183); /* Change button text color to purple */
    background-color: pink; /* Change button background color to pink */
    border-radius: 20px;
}

.loginButton:hover {
    background-color: pink; /* Change hover background color to pink */
    color: rgb(183, 39, 183); /* Change hover text color to purple */
}

#loadingSpinner {
    display: none;
    font-size: 36px;
    color: #333;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
